<?xml version="1.0" encoding="UTF-8"?>
<module>
  <name>xmlfeedmanager</name>
  <displayName>XML Feed Manager</displayName>
  <version>1.0.0</version>
  <author>Marco Zagato</author>
  <description><![CDATA[Manage multiple XML feeds for importing and updating product data without overwriting existing products.]]></description>
  <tab>administration</tab>
  <confirmUninstall><![CDATA[Are you sure you want to uninstall this module?]]></confirmUninstall>
  <ps_versions_compliancy>
    <min>1.7</min>
    <max>1.7.9.9</max>
  </ps_versions_compliancy>
</module>
