textarea {
    height: 100px;
    width: 100%;
    resize: none;
}

.form-horizontal .form-group {
    margin-left: 0;
    margin-right: 0;
}

.form-horizontal .form-group label {
    text-align: left;
    padding-left: 0;
}

.form-horizontal .form-group .col-lg-9 {
    padding-left: 0;
    padding-right: 0;
}
